footer{
    width: 100%;

    padding: 2em;
    color: var(--branco);
}

footer img{
    width: 20px;
}

#divContato{
    display: flex;
    align-items: center;
    gap: 10px;
}
#linkFooter{
    text-decoration: none;
    color: var(--branco);
}