footer {
    height: 5vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: var(--branco);
    background-color: var(--cinza);
    gap: 10px;
    font-size: 10px;
}

footer img {
    width: 15px;
}

#divContato {
    display: flex;
    align-items: center;
    gap: 10px;
}

#linkFooter {
    text-decoration: none;
    color: var(--branco);
}
