#divPrincipalHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.tabelaViagens{
    display: flex;
    margin: 10px; 
    align-items: center;
}

.imgHome:hover{
    scale: 1.2;
    cursor: pointer;
}

.tituloViagens{
    border: 1px white solid;
    padding: 10px 20px;
}
.form {
    text-align: center;
    background: rgba(116, 114, 114, 0.8); 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: calc(100% - 20px);
    box-sizing: border-box; 
    margin: 10px;
}


.inputs, select {
    display: block;
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.9); 
    box-sizing: border-box; 
}


.botao, .btnCancelar {
    background: rgba(0, 0, 0, 0.308);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease; 
}


.botao:hover {
    background: rgba(0, 0, 122, 0.404); 
    transform: scale(1.05); 
}
.botao:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}

.btnCancelar:hover{
    background: rgba(255, 2, 2, 0.404);
    transform: scale(1.05); 
}
