@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('suporte.css');

:root{
    --fundo-degrade :linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(0,0,122,1) 83%);
    --branco: #fff;
    --cinza:rgba(116, 114, 114, 0.8);
}
body{
    background: var(--fundo-degrade) ;
    height: 100%;
    font-family: "Exo", sans-serif;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
}

.oculto {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.oculto.open {
    animation: abrir 0.5s ease-in-out forwards;
}


.oculto.closed {
    animation: fechar 0.5s ease-in-out forwards; 
}


@keyframes abrir {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; 
        opacity: 1;
    }
}


@keyframes fechar {
    from {
        max-height: 500px; 
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}



