@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('suporte.css');

:root{
    --fundo-degrade :linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(0,0,122,1) 83%);
    --branco: #fff;
    --cinza:rgba(116, 114, 114, 0.8);
}
.oculto {
    opacity: 0;
    max-height: 0; /* Usa max-height em vez de height */
    overflow: hidden;
    transition: opacity 2s ease, max-height 2s ease;
}

.oculto.visible {
    opacity: 1;
    max-height: 500px;
}


body{
    background: var(--fundo-degrade) ;
    height: 100%;
    font-family: "Exo", sans-serif;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
}