ul{
    color: var(--branco);
}

.divDuvida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 10px;
}


.tituloDuvida{
    cursor: pointer;
    color: var(--branco);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.listaDuvida{
    text-align: center;
    max-width: 500px;
}

.listaDuvida li{
    margin: 10px;
    list-style: circle;
    list-style-position: inside ;
}
#tituloEmail{
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    margin: 1em;
}
#formDuvidas, .divDuvidaTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#formDuvidas textarea {
    resize: none;
}